<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
    <package name="top.huhuiyu.springbootmybatisbase.entity" />
  </typeAliases>
  <mappers>
    <mapper resource="top/huhuiyu/springbootmybatisbase/mapper/TbUser.xml" />
    <mapper resource="top/huhuiyu/springbootmybatisbase/mapper/Utils.xml" />
    <mapper resource="top/huhuiyu/springbootmybatisbase/mapper/TbToken.xml" />
  </mappers>
</configuration>